.alert {
  max-width: 700px;
}

.alert-text {
  font-size: 2em;
}

body {
  font-family: sans-serif;
  text-align: center;
  background-color: #afafaf;
  /*color: white;*/
}

html, body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 1em;
  width: 100%;
}